{
	"extends": "eslint:recommended",
	"env": {
		"node": true,
		"mocha": true
	},

	"rules": {
		"quotes": [2, "single"],
		"yoda": [1, "always"],
		"no-irregular-whitespace": 1,
		"strict": [2, "global"],
		"no-console": 1
	}
}
